@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    height: 100vh;
}

header {
    background-color:  #03055B;
    opacity: 80%;
    color: white;
}


.logo {
   
   margin-left: 1em;
    max-width: 180px;
    min-width: 150px;
    max-height: 180px;
}

.products-ul li {
   padding: 12px;
   border-bottom: 1px solid grey;
}

.products-ul li:hover {
    color: grey;
}

.news-letter {
    margin-top: 3em;
    margin-bottom: 2em;
}

img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
   
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

img:hover {
    transform: scale(1.1);
}

sidebar {
    background-color:  #012957;
    color: white;
}












